.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
// .input {
//   display: block;
//   width: 100%;
//   max-width: 350px;
//   height: 40px;
//   border-radius: 10px;
//   // background-color: transparent;
//   color: rgb(15, 15, 14);
//   font-weight: bold;
//   font-size: 18px;
//   line-height: 1.25;
//   text-align: center;
//   margin-bottom: 30px;

//   &:focus {
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   }
// }
body {
  font-family: 'Fira Sans', sans-serif;
  background-image: linear-gradient(to right, rgba(156, 158, 187, 0.7), rgba(192, 196, 247, 0.2));
  // url('../bg.jpg');
  background-size: cover;
}
.country-list {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.25;
}
li {
  margin-bottom: 10px;
}
.description {
  font-weight: bold;
}
.country-name {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  color: rgb(76, 13, 95);
  margin-top: 0%;
  margin-bottom: 30px;
}
.country-thumb {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.country-flag {
  width: 400px;
  height: 250px;
}
.country-text {
  font-size: 28px;
  margin-right: 70px;
}
.country-region {
  margin-top: 0;
}
